.photo {
    height: 130px;
    width: 130px;
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    background-position: center;
    margin: 0px auto;
    top: -100px;
  }

  .back {
    height: 100%;
    width: 100%;
      background-size: cover;
      background-position: center;
      position: relative;

        border-radius: 30%;
  }
  .backImg{
    width: 100%;
    height: auto;
    display: block;
  }

  .wrapper{
    width: 25%; 
  }
  